{% extends "base.html" %}
{% load gravatar %}

{% block content %}
  <br>
    <div class="row">
    <button class="btn btn-default pull-right " onclick="location.href='{% url 'create_post' %}'">Create a post</button>
    </div>
    <br>
    {% for post in posts %}
    <div class="container-fluid">
        <div class="row cardRow">
        <div class="col-lg-4 col-sm-4 col-xs-10 text-center">
            <div class="card" style="background-image:url({{ MEDIA_URL }}{{post.image}})">
                    <h3 class="cardTitle">{{ post.title }}</h3>
                        <br>
                        <p><button class="btn btn-default" onclick="location.href='{% url 'post_detail' post.id %}'">Read More</button></p>
                        <br>
                        <p class="cardPostPublish">{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}</p>
                    </div>
                    <br>
                    </div>

    {% endfor %}
{% endblock %}