body {
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    background-color: #fff8f9
}


footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

h1{
    color: #AE8EC0;
}

.navbar {
    background-image: none;
    background-color:  #AE8EC0;
    border-bottom-color: #AE8EC0;
    font-size: 2rem;
}

h3 {
    color: #6EC1C8;
}

p {
    font-size: 2rem;
}

.alert {
    background-color: #6EC1C8;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.navbar-brand {
    font-size: 3rem;
}

.cardText {
    font-size: 1.8rem;
}

.cardPostPublish {
    font-size: 1.4rem;
}

.btn-default {
    font-size: 1.5rem;
    background: #6EC1C8;
}

.card {
    padding: 20px 20px 20px 20px;
    padding-bottom: 40px;
    background-color: white;
     box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1.0), 0 6px 60px 0 rgba(0, 0, 0, 0.50);
}

